/* .content{
    color: blue;
}
.newClass{
    background-color: red;
} */
/* div{
    height: 100px;
    width: 100px;
    background-color: crimson;
    color: black;
    border: 2px solid black;
} */